# tracked in seperate repos... not worth messing with git submodules for these
# * https://github.com/RemasteredArch/nvim-config
# * https://github.com/RemasteredArch/tmux-config
/nvim-config
/tmux-config
